

//FONDOS
$color_black:rgba(0, 0, 0, 0.541);

//COLORES TITULO PRINCIPAL
$color_rojo:rgb(204, 33, 33);
$color_white:white;


//BOTONES
$color_rojoBoton:rgb(204, 72, 72);


//FUENTES TITULOS
$fuente_h2:45px;


//PARRAFOS
$color_grey:rgb(221, 221, 221);
$fuente_parrafo:'Times New Roman', Times, serif;
$color_black_fuerte:rgb(54, 54, 54);
    
            

