@import "colorFont";



.contSectionOne{
    width: 100%;
    padding: 100px 0px;
    background:$color_white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .contSectionOne_h2{
        color: $color_rojo;
        font-size: $fuente_h2;
        font-weight: 400;
    }
    .contSectionOne_p{
        margin-top: 20px;
        width: 70%;
        text-align: center;
        color: $color_black_fuerte;
        font-family: $fuente_parrafo;
        font-size: 18px;
    }

    .contSectionOne_blockPlatos{
        margin-top: 30px;
        width: 80%;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .contSectionOne_block_box{
            width: 200px;
            padding: 20px 0px;
            transition: 0.3s all;
            .contSectionPlatos_blockPlatos_box_img{
                width: 100%;
                height: 200px;
                //background: $color_black;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .contSectionPlatos_blockPlatos_box_text{
                width: 100%;
                padding: 10px 0px;
                text-align: center;
                color: $color_black_fuerte;
                transition: 1s all;
            }
        }
        .contSectionOne_block_box:hover{
            background: $color_rojoBoton;
            border-radius: 10px;
            .contSectionPlatos_blockPlatos_box_text{
                color: $color_white;
            }
        }
        
    }
}


@media (min-width:641px)  and (max-width:1024px){
    .contSectionOne{
        width: 100%;
        padding: 100px 0px;
        background:$color_white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        //@at-root
        .contSectionOne_h2{
            color: $color_rojo;
            font-size: $fuente_h2;
            font-weight: 400;
        }
        .contSectionOne_p{
            margin-top: 20px;
            width: 70%;
            text-align: center;
            color: $color_black_fuerte;
            font-family: $fuente_parrafo;
            font-size: 18px;
        }
    
        .contSectionOne_blockPlatos{
            margin-top: 30px;
            width: 80%;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .contSectionOne_block_box{
                width: 250px;
                padding: 20px 0px;
                transition: 0.3s all;
                .contSectionPlatos_blockPlatos_box_img{
                    width: 100%;
                    height: 200px;
                    //background: $color_black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                .contSectionPlatos_blockPlatos_box_text{
                    width: 100%;
                    padding: 10px 0px;
                    text-align: center;
                    color: $color_black_fuerte;
                    transition: 1s all;
                }
            }
            .contSectionOne_block_box:hover{
                background: $color_rojoBoton;
                border-radius: 10px;
                .contSectionPlatos_blockPlatos_box_text{
                    color: $color_white;
                }
            }
            
        }
    }
}




@media (min-width:320px)  and (max-width:640px){
    .contSectionOne{
        width: 100%;
        padding: 70px 0px;
        background:$color_white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        //@at-root
        .contSectionOne_h2{
            color: $color_rojo;
            font-size: $fuente_h2;
            font-weight: 400;
            text-align: center;
            line-height: 40px;
            width: 300px;
        }
        .contSectionOne_p{
            margin-top: 20px;
            width: 90%;
            text-align: center;
            color: $color_black_fuerte;
            font-family: $fuente_parrafo;
            font-size: 18px;
        }
    
        .contSectionOne_blockPlatos{
            margin-top: 30px;
            width: 90%;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .contSectionOne_block_box{
                width: 280px;
                height: 300px;
                border-radius: 10px;
                margin-bottom: 10px;
                padding: 20px 0px;
                transition: 0.3s all;
                .contSectionPlatos_blockPlatos_box_img{
                    width: 100%;
                    height: 200px;
                    //background: $color_black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                .contSectionPlatos_blockPlatos_box_text{
                    width: 100%;
                    padding: 10px 0px;
                    text-align: center;
                    color: $color_black_fuerte;
                    transition: 1s all;
                }
            }
            .contSectionOne_block_box:hover{
                background: $color_white;
                border-radius: 10px;
                .contSectionPlatos_blockPlatos_box_text{
                    color: $color_black_fuerte;
                }
            }
            
        }
    }
}