*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, header{
    font-family: 'DynaPuff', cursive;
}

body{
    scroll-behavior:unset;

}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(212, 40, 40);
    border-radius: 20px;
    height: 100px;
}
body::-webkit-scrollbar-thumb:hover{
    background: rgb(201, 22, 22);
    height: 150px;
    
}

html{
    scroll-behavior: smooth;
}


@import "colorFont";
@import "grid";
@import "header";
@import "section_one";
@import "section_tho";
@import "section_three";
@import "section_four";
@import "footer";

@import "btnTop";

